#root {
  max-width: 1280px;
  margin: auto;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #161622;
}

.container{
  color: aliceblue;
  height: 100vh;
  text-align: center;
}



.formulario {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background-color: #2f2f35;
  border: 1px solid #444;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.formulario label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
}

.formulario input[type="text"],
.formulario input[type="date"],
.formulario input[type="time"] {
  width: 80%;
  height: 40px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #555;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  background-color: #333;
  color: #fff;
}

.formulario button[type="submit"] {
  width: 80%;
  height: 40px;
  background-color: #ff9900;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

.formulario button[type="submit"]:hover {
  background-color: #ffad33;
}

table {
  border-collapse: collapse;
  width: 100%;
  color: #161622;
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f0f0f0;
  font-weight: bold; 
  text-align: center;
}

td {
  vertical-align: middle; 
  text-align: center;
  color: #fff;
}

button {
  font-weight: bold; 
  background-color: #ff9900; 
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
}

button:hover {
  background-color: #ffad33; 
}

ul li{
  list-style: none;
}

.turnos-list {
  list-style: none; /* quitar viñetas */
  padding: 0;
  margin: 40px auto; /* centrar la lista horizontalmente */
  max-width: 600px; /* ancho máximo de la lista */
  background-color: #2f2f35; /* fondo gris oscuro */
  padding: 20px; /* agregar padding para separar los elementos */
  border: 1px solid #ccc; /* borde delgado */
  border-radius: 10px; /* esquinas redondeadas */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* sombra leve */
}

.turno-item {
  padding: 15px;
  border-bottom: 1px solid #ddd; /* agregar borde inferior */
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
}

.turno-nombre {
  font-weight: bold; 
}

.turno-fecha {
  color: #666;
  font-size: 0.9em; 
}

.turno-item:last-child {
  border-bottom: none; /* quitar borde inferior del último elemento */
}